#page-local-rwth_participants_view-participants .hidden {
    display: none;
}

#page-local-rwth_participants_view-participants .inline {
    display: inline;
}

#page-local-rwth_participants_view-participants #page-course-view-topics h2 {
    display: inline;
}

#page-local-rwth_participants_view-participants #action-button-bar {
    display: inline-flex;
    float: right;
}
#page-local-rwth_participants_view-participants #action-button-bar input[type=submit],
#page-local-rwth_participants_view-participants #action-button-bar button {
    margin-left: 6px;
    margin-bottom: 6px;
}
#page-local-rwth_participants_view-participants #action-button-bar .singlebutton {
    margin-left: 0;
}

#page-local-rwth_participants_view-participants select.invalid {
    border-color: #d9534f;
}

/* For positioning of loading icon. */
#page-local-rwth_participants_view-participants #enrol-search-form,
#page-local-rwth_participants_view-participants #enrol-confirm-form {
    display: inline-block;
}

/* Make forms hideable. */
#page-local-rwth_participants_view-participants #enrol-search-form.hidden,
#page-local-rwth_participants_view-participants #enrol-confirm-form.hidden {
    display: none;
}

#page-local-rwth_participants_view-participants #enrol-search-form #id_usersearch {
    border-radius: 4px;
    resize: both;
}

#page-local-rwth_participants_view-participants #enrol-search-form #roletoassign {
    border-radius: 4px;
}

#page-local-rwth_participants_view-participants #enrol-search-form .row {
    margin-top: 2rem;
    margin-right: 0;
}

#page-local-rwth_participants_view-participants #enrol-search-form .felement {
    padding-right: 0;
}

#page-local-rwth_participants_view-participants #enrol-search-form #fitem_id_usersearch {
    margin-bottom: 0;
}

#page-local-rwth_participants_view-participants #enrol-search-form #fitem_id_usersearchhint {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

#page-local-rwth_participants_view-participants #enrol-search-form #fitem_id_next {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-right: 0;
}

#page-local-rwth_participants_view-participants #enrol-search-form .btn[name="next"],
#page-local-rwth_participants_view-participants #enrol-confirm-form .btn[name="next"] {
    position: absolute;
    right: 0;
}

#page-local-rwth_participants_view-participants #enrol-confirm-form .addable-users-description {
    margin-bottom: 0.3rem;
}

#page-local-rwth_participants_view-participants #enrol-confirm-form .hint {
    font-size: 0.75rem;
}

#page-local-rwth_participants_view-participants #enrol-confirm-form .searchterms {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
}

/* Leave last column of enrol confirm table unstyled. */
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable .lastcol {
    background-color: #fff !important;
    border: 0;
    pointer-events: none;
}

/* Style enrol confirm table different from normal generaltable class. */
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable th {
    background-color: #eee !important;
    color: #1d2125;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable .c0 {
    border-left: 1px solid #dee2e6;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable .c3 {
    border-right: 1px solid #dee2e6;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tbody tr:last-of-type td:not(.lastcol) {
    border-bottom: 1px solid #dee2e6;
}

/* Styling for "already added". */
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.already-added td:not(.lastcol),
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.already-invited td:not(.lastcol) {
    opacity: 0.6;
}

/* Styling for "duplicate account". */
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.duplicate-account {
    background-color: #e8f1fa !important
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.duplicate-account .c0 {
    border-left: 0;
    box-shadow: 4px 0 #00549f inset;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.duplicate-account:hover,
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr.duplicate-account .lastcol {
    background-color: #fff !important
}

/* Make border between internal and external users more visible. */
#page-local-rwth_participants_view-participants #enrol-confirm-form table#enrol_addable tr:not(.external-user) ~ tr.external-user .cell:not(.lastcol) {
    border-top-width: 4px;
}

/* Add spacing at the top of enrol confirm tab. */
#page-local-rwth_participants_view-participants #enrol-confirm-form .section {
    margin-top: 2rem;
}

/* Remove whitespace at end of tab content. */
#page-local-rwth_participants_view-participants #enrol-confirm-form .form-group {
    margin-bottom: 0;
}

/* For positioning of loading icon. */
#page-local-rwth_participants_view-participants #enrol-search-form,
#page-local-rwth_participants_view-participants #enrol-confirm-form {
    position: relative;
}

#page-local-rwth_participants_view-participants .userlist .nav-tabs .nav-link.participants_role {
    border-bottom: none;
}

#page-local-rwth_participants_view-participants .userlist #participants_choose_role {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#page-local-rwth_participants_view-participants .controls td.cell.lastcol {
    text-align: right;
}

#page-local-rwth_participants_view-participants .userlist .controls .searchform {
    margin-top: 0.2rem;
    float: right;
}

#page-local-rwth_participants_view-participants .controls #search {
    width: 200px;
    display: inline-block;
}
#page-local-rwth_participants_view-participants .controls .cancelsearch {
    margin-left: -1.55rem;
}

#page-local-rwth_participants_view-participants .controls .cancelsearch .icon {
    vertical-align: middle;
}

@media screen and (min-width: 1200px) {
    #page-local-rwth_participants_view-participants .userlist {
        position: relative;
    }
    #page-local-rwth_participants_view-participants .userlist .controls .searchform {
        position: absolute;
        top: 0;
        right: 0;
    }
}

#page-local-rwth_participants_view-participants .initialbar {
    margin-top: 6px;
    margin-bottom: 6px;
}
#page-local-rwth_participants_view-participants .initialbar a.disabled {
    pointer-events: none;
    cursor: default;
    font-style: normal;
    color: #ccc;
    background-color: #eee;
}
#page-local-rwth_participants_view-participants .initialbar .initialbarlabel {
    width: 70px;
}

/* code below was mostly copied from Moodle's default theme */
#page-local-rwth_participants_view-participants .userlist table.participants,
#page-local-rwth_participants_view-participants .userlist table.invitations {
    text-align: center;
    min-height: 0;
    width: fit-content;
    border: 1px solid #dee2e6;
}
#page-local-rwth_participants_view-participants .userlist table.participants td,
#page-local-rwth_participants_view-participants .userlist table.invitations td {
    text-align: left;
    padding: 4px;
    vertical-align: middle;
}
#page-local-rwth_participants_view-participants .userlist table.participants th,
#page-local-rwth_participants_view-participants .userlist table.invitations th {
    text-align: left;
    padding: 4px;
}

/* Align checkboxes vertically. */
#page-local-rwth_participants_view-participants .userlist table.participants input[type="checkbox"].bulkoperation,
#page-local-rwth_participants_view-participants .userlist table.invitations input[type="checkbox"].bulkoperation,
#page-local-rwth_participants_view-participants .userlist table.participants .unassignrolelink {
    vertical-align: middle;
}

/* Remove margin next to icons. */
#page-local-rwth_participants_view-participants .userlist table.participants .icon {
    margin-right: 0;
}

/* Add spacing between columns on wide screens. */
@media screen and (min-width: 1200px) {
    #page-local-rwth_participants_view-participants .userlist table.participants td:first-of-type,
    #page-local-rwth_participants_view-participants .userlist table.participants th:first-of-type,
    #page-local-rwth_participants_view-participants .userlist table.invitations td:first-of-type,
    #page-local-rwth_participants_view-participants .userlist table.invitations th:first-of-type {
        padding-left: 0.5rem;
    }
    #page-local-rwth_participants_view-participants .userlist table.participants td:not(:last-of-type),
    #page-local-rwth_participants_view-participants .userlist table.participants th:not(:last-of-type),
    #page-local-rwth_participants_view-participants .userlist table.invitations td:not(:last-of-type),
    #page-local-rwth_participants_view-participants .userlist table.invitations th:not(:last-of-type) {
        padding-right: 2rem;
    }
    #page-local-rwth_participants_view-participants .userlist table.participants td:last-of-type,
    #page-local-rwth_participants_view-participants .userlist table.participants th:last-of-type,
    #page-local-rwth_participants_view-participants .userlist table.invitations td:last-of-type,
    #page-local-rwth_participants_view-participants .userlist table.invitations th:last-of-type {
        padding-right: 0.5rem;
    }
}

#page-local-rwth_participants_view-participants .bulk-operations-bar {
    padding: 0.3rem;
}

#page-local-rwth_participants_view-participants .bulk-operations-bar .selectioncounter {
    font-weight: bold;
    vertical-align: middle;
}

#page-local-rwth_participants_view-participants .bulk-operations-bar-btns:not(.floating) .btn {
    margin-left: 0.3rem;
}

#page-local-rwth_participants_view-participants .bulk-operations-bar-btns.floating .btn ~ .btn {
    margin-left: 0.3rem;
}

/* Make bulk operations bar always visible no matter where you scroll. */
#page-local-rwth_participants_view-participants .bulk-operations-bar-btns.floating {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    margin-top: 0;
}

#page-local-rwth_participants_view-participants .bulk-operations-bar-btns {
    text-align: right;
    padding: .3rem;
}

/* Prevent modal footer from hiding user search results. */
.path-course-view .modal.user-enrolment .modal-body {
    overflow-y: initial;
}

/* Make textarea 100% width. */
#page-local-rwth_participants_view-groupimport textarea[name="data"] {
    width: 100%;
}

/* Remove unnecessary whitespace in enrol/groupimport confirm tables. */
#page-local-rwth_participants_view-groupimport table .col-md-3,
#page-local-rwth_participants_view-groupimport form > .form-group.row.fitem .col-md-3,
#page-local-rwth_participants_view-participants #enrol-confirm-form .col-md-3 {
    display: none;
}
#page-local-rwth_participants_view-groupimport table .col-md-9,
#page-local-rwth_participants_view-participants #enrol-confirm-form table .col-md-9 {
    padding: 0;
}
#page-local-rwth_participants_view-groupimport table .col-md-9 label,
#page-local-rwth_participants_view-participants #enrol-confirm-form table .col-md-9 label {
    margin: 0;
}
#page-local-rwth_participants_view-groupimport table .form-group,
#page-local-rwth_participants_view-participants #enrol-confirm-form table .form-group {
    margin: 0;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form table th {
    vertical-align: top;
}

/* Align Enrol confirm dialog submit buttons. */
#page-local-rwth_participants_view-participants #enrol-confirm-form .submit-buttons {
    text-align: right;
}
#page-local-rwth_participants_view-participants #enrol-confirm-form input[name="confirm"] {
    margin-left: 0.3rem;
}

#page-local-rwth_participants_view-participants .userlist #participantsform .tab-pane.active[id^="linkl2p"] {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#page-local-rwth_participants_view-participants .userlist .tab-pane.active#invitations {
    margin-top: 5px;
}

#page-local-rwth_participants_view-participants .userlist .resettable,
#page-local-rwth_participants_view-participants .userlist .resettable {
    margin-bottom: 0.2rem;
}

#page-local-rwth_participants_view-participants .userlist #participantsform .resettable {
    margin-top: -0.4rem;
}

#page-local-rwth_participants_view-participants ul.nobullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-local-rwth_participants_view-participants .modal-body #enrol_single_participant_success_checkmark {
    color: #00549f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

#page-local-rwth_participants_view-participants .userlist .groupselector {
    vertical-align: middle;
    margin-left: 1rem;
}

#page-local-rwth_participants_view-participants .userlist .groupselector label {
    display: none;
}

#page-local-rwth_participants_view-participants .userlist .groupselector-plain {
    margin: 0.3rem 0.6rem;
}

#page-local-rwth_participants_view-participants .userlist .controls {
    margin-bottom: 0.4rem;
}

#page-local-rwth_participants_view-participants .userlist .controls .groupselector select,
#page-local-rwth_participants_view-participants .userlist .controls .btn.role {
    border-radius: 1.5rem;
    margin-left: 0;
}

#page-local-rwth_participants_view-participants .userlist .controls #search {
    vertical-align: middle;
    border-radius: 5px;
}

#page-local-rwth_participants_view-participants .userlist .initialbar .pagination {
    margin-bottom: 0;
}

#page-local-rwth_participants_view-participants .userlist .initialbar .initialbarlabel {
    margin: 3px 0;
}

#page-local-rwth_participants_view-participants .userlist .page-link {
    border: 0;
}

#page-local-rwth_participants_view-participants .userlist nav.pagination {
    margin-top: 1rem;
}

#page-local-rwth_participants_view-participants .userlist ul.pagination {
    margin: 0;
}

#page-local-rwth_participants_view-participants select[name="perpage"] {
    border-radius: 5px;
}

#page-local-rwth_participants_view-participants .userlist .buttons {
    text-align: right;
}

/* Remove whitespace at bottom of notifications. */
#page-local-rwth_participants_view-participants .alert p:last-of-type {
    margin-bottom: 0;
}

/* Move blocks below participant list. */
#page-local-rwth_participants_view-participants [data-region="blocks-column"] {
    width: 100%;
    clear: both;
}
#page-local-rwth_participants_view-participants #region-main {
    overflow-x: visible;
    min-width: 100%;
    width: auto;
    display: inline-flex;
    flex-direction: column;
}
#page-local-rwth_participants_view-participants #region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: 100%;
}
#page-local-rwth_participants_view-participants .region_main_settings_menu_proxy {
    display: none;
}

/* Remove spacing below group selector. */
#page-local-rwth_participants_view-participants #selectgroup {
    margin-block-end: 0;
}
