{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_rwth_participants_view/filters

    Example context (json):
    {
        "initialshtml": "<!-- HTML code of initials bars -->",
        "roles": [
            {
                "id": "1",
                "guiname": "Student",
                "count": "5/173",
                "filtering": true
            }
            {
                "id": "2",
                "guiname": "Teacher",
                "count": "0/20",
                "filtering": false
            },
            {
                "id": "3",
                "guiname": "Manager",
                "count": "0/2",
                "filtering": false
            }
        ],
        "groupshtml": "<!-- HTML code of group selector -->",
        "searchhtml": "<!-- HTML code of search field -->"
    }
}}

<div class="controls">
    {{{searchhtml}}}
    {{{initialshtml}}}
    {{#roles}}
        <a href="{{filterurl}}" class="btn {{#filtering}}btn-primary{{/filtering}}{{^filtering}}btn-secondary{{/filtering}} role" data-roleid="{{id}}" role="button">{{guiname}} ({{count}})</a>
    {{/roles}}
    {{{groupshtml}}}
</div>
