{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_rwth_participants_view/page

    Example context (json):
    {
        "viewparticipants": true,
        "participantshtml": "<!-- HTML users table -->",
        "participantscount": "5/195",
        "viewinvitations": true,
        "invitationshtml": "<!-- HTML invitations table -->",
        "invitationscount": "3"
    }
}}

<div class="container-fluid">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" >
            <a class="nav-link participants active" href="#participants" data-toggle="tab" role="tab">{{participantstitle}}</a>
        </li>
        {{#viewinvitations}}
            <li class="nav-item" style="position:relative" >
                {{> core/overlay_loading}}
                <a class="nav-link invitations" href="#invitations" data-toggle="tab" role="tab">{{invitationstitle}}</a>
            </li>
        {{/viewinvitations}}
        {{#addparticipantshtml}}
            <li class="nav-item" style="position:relative" >
                {{> core/overlay_loading}}
                <a class="nav-link addparticipants" href="#addparticipants" data-toggle="tab" role="tab">{{#str}} enrolusers, local_rwth_participants_view {{/str}}</a>
            </li>
        {{/addparticipantshtml}}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="participants" role="tabpanel">
            {{#viewparticipants}}
                {{{participantshtml}}}
            {{/viewparticipants}}
        </div>
        {{#viewinvitations}}
            <div class="tab-pane" id="invitations" role="tabpanel">
                {{{invitationshtml}}}
            </div>
        {{/viewinvitations}}
        {{#addparticipantshtml}}
            <div class="tab-pane" id="addparticipants" role="tabpanel">
                {{{addparticipantshtml}}}
            </div>
        {{/addparticipantshtml}}
    </div>

</div>